body {
  width:90%;
}

th {
  vertical-align:top;
  background-color:#A4C2F4;
}

td {
    padding:5px;
    vertical-align:center; 
}

th {
  text-align:center;
}

ul {
   margin:0;
}

img {
	width:40px;
	height:40px;
}